/*google font import statement*/

/*  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');*/






body
{
	margin: 0px;
	box-sizing: border-box;
/*	font-family: 'Bebas Neue', sans-serif;*/
}

.navigation bar
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}
.myname
{font-family: 'Bebas Neue', sans-serif;
font-family: 'Lobster', cursive;

font-weight: bolder;
font-size: 30px;
color: #e68250;
}

.mymenu
{  
	font-size: 20px;
	font-weight:bolder;
	letter-spacing: 1.5px;

}
.mymenu:hover
{
	color: #e68250;
}
#home
{
	margin-top: 70px;
}